.timer-wrap {
  padding-bottom: 14px;
  text-align: center;

  .timer-title {
    font-size: 14px;
    font-weight: 600;
    font-family: Rubik-SemiBold, sans-serif;
  }

  .timer {
    font-size: 28px;
    font-weight: 700;
    font-family: Rubik-Bold, sans-serif;
  }
}
